name: CI/CD

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout code
      uses: actions/checkout@v3

    - name: set up python
      run: actions/setup-python@v4
      with:
          python-version: '3.9'
          
    - name: install dependencies
        run: |
            python -m pip install --upgrade pip
            pip install flask
            pip install pytest

    - name: Run tests
      run: |
          pytest
          
